In [ ]:
# Hash is used for the comment

**Hey Piyush This side**  Double star is used for highlighting

In [4]:
# store aand print an integer
age = 24

In [5]:
print(age)
type(age)

24

int

In [14]:
# Store and print a string
name = 'Piyush Mishra'
print(name)
type(name)

Piyush Mishra

str

In [15]:
# Store and print a float
price = 19.99
print(price)
type(price)

19.99

float

In [16]:
# Store and print a boolean
is_student = True   # Boolean value should be start with Capital Letter
print(is_student)
type(is_student)

True

bool

MyNameIsPiyush    #Camel Case
My_Name_Is_Piyush #Snake case

In [20]:
# Declaring multiple variables
name, lastname, country, roll_no = 'Piyush', 'Mishra', 'India', 101

#printing each variable with a label
print('First Name:-', name)
print('Last Name:-', lastname)
print('Country:-', country)
print('Roll No.:-', roll_no)

print(type(name) ,type(lastname), type(country), type(roll_no))

First Name:- Piyush
Last Name:- Mishra
Country:- India
Roll No.:- 101
<class 'str'> <class 'str'> <class 'str'> <class 'int'>

In [30]:
name, lastname, State, Employee_id, Salary  = 'Piyush', 'Mishra', 'Maharashtra', 1, 30000.0

#printing each variable with a label
print('First Name:-', name)
print('Last Name:-', lastname)
print('State:-', State)
print('Employee id:-', Employee_id)
print('Salary:-', Salary)

print(type(name) ,type(lastname), type(State), type(Employee_id), type(Salary))

First Name:- Piyush
Last Name:- Mishra
State:- Maharashtra
Employee id:- 1
Salary:- 30000.0
<class 'str'> <class 'str'> <class 'str'> <class 'int'> <class 'float'>

In [34]:
name, lastname, State, Employee_id, Salary  = 'Piyush', 'Mishra', 'Maharashtra', 1, 30000.0

#printing each variable with a label
print('First Name:-', name,', Last Name:-', lastname,', State:-', State,', Employee id:-', Employee_id,', Salary:-', Salary)
print(type(name) ,type(lastname), type(State), type(Employee_id), type(Salary))

First Name:- Piyush , Last Name:- Mishra , State:- Maharashtra , Employee id:- 1 , Salary:- 30000.0
<class 'str'> <class 'str'> <class 'str'> <class 'int'> <class 'float'>

In [35]:
#example 2
fruit = 'Mango'
quantity = 5
price_per_fruit = 10
Total_price = quantity * price_per_fruit

print('Fruit-', fruit)
print('Quantity-', quantity)
print('Price Per Fruit-', price_per_fruit)
print('Total Price-', Total_price)

Fruit- Mango
Quantity- 5
Price Per Fruit- 10
Total Price- 50

In [6]:
# python does type inferencing automatically
A = 10.678
B = 17.568
C = A + B

print('A+B =',C)
print(type(C))
print(round(C,2))    # for removing decimal we use round function

A+B = 28.246000000000002
<class 'float'>
28.25

**Implicit Type Conversion:-** Python automaticallly converts one data type to another during operations without user intervention.
**Explicit Type Conversion:-** The user manually converts one data type to another using function like 'int()', 'float()', 'str()',etc.

# BUILT -IN Function

Built-In functions in python are pre-defined functions that are always available for use without the need to import any module.
eg:- print, type, input etc
These functions makes coding faster and easier by providing ready to use tools or functions in your day to day programming.

In [26]:
#input() - take user input
name = input("Your Name:-")

Your Name:- Piyush

In [27]:
print('Hello!', name)

Hello! Piyush

In [21]:
# type() - check type of data

age = input ('Enter Your Age:')
print('Type Before Conversion:', type(age))

Enter Your Age: 24

Type Before Conversion: <class 'str'>

In [19]:
age = int(age)
print('Type of Conversion:', type(age))

Type of Conversion: <class 'int'>

In [24]:
age = int(input('Enter Your Age:'))
print('Type Before Conversion:', type(age))

Enter Your Age: 24

Type Before Conversion: <class 'int'>

In [28]:
#len() - get length of a string
print('Length of your name:', len(name))

Length of your name: 6

In [43]:
# max(), min(), sum()

Marks = [48, 32, 80, 69]
print('Maximum Marks:', max(Marks))
print('Minimum Marks:', min(Marks))
print('Total Marks:', sum(Marks))

Maximum Marks: 80
Minimum Marks: 32
Total Marks: 229

In [36]:
#abs() - Absolute value
num = -69
print('Absolute Value:', abs(num))

Absolute Value: 69

In [41]:
A = 28.67845986498
B = 56.56895376085
C = A + B

print('A + B =',C)
print(type(C))
print('Round off:',round(C,3))

A + B = 85.24741362583
<class 'float'>
Round off: 85.247

In [44]:
#sorted() - Ascending
print('Sorted Value:', sorted(Marks))

Sorted Value: [32, 48, 69, 80]

In [50]:
print('Sorted marks(descending):', sorted(Marks, reverse=True))

Sorted marks(descending): [80, 69, 48, 32]

In [60]:
# Q Create Two variables and make their sum
a = 10
b = 20
print('Sum of a and b is', a + b)

Sum of a and b is 30

In [63]:
# Q Store your name in a variable and print its length
Name = 'Piyush'
print('Length of Name:-', len(Name))

Length of Name:- 6

In [68]:
# Q take user input for Phone and display its data type
Phone_No= int(input('Enter Your Number:'))
print('Type of data:', type(Phone_No))

Enter Your Number: 9834807799

Type of data: <class 'int'>

In [70]:
# Convert string into integer and add 5.
num = 50
data = int(num) + 5
print('Converted string after adding 5:-', data)

Converted string after adding 5:- 55

# DATATYPE in Python

1) Integer -> Whole Number

In [71]:
age = 25
print(age, type(age))

25 <class 'int'>

2) float -> Decimal Numbers A float is a number with a decimal point.
# It stands for floating-point number.

In [72]:
price = 19.99
print(price, type(price))

19.99 <class 'float'>

3) String -> Text A string is a sequence of characters (letters, numbers, symbols) enclosed in quotes.

In [73]:
name = 'Piyush'
print(name, type(name))

Piyush <class 'str'>

4) Boolean -> True or False
 Make sure the starting alphabet of the boolean is in capital

In [75]:
is_student = True
print(is_student, type(is_student))

True <class 'bool'>

In [79]:
# Create two variables, change the data type to float, create a new variable again "result" with addition, and print the total value and data type
num1 = input('Enter first number:-')
num2 = input('Enter second number:-')
num1 = float(num1)
num2 = float(num2)

result = num1 + num2

print('Addition:-', result)
print('Type of result:-', type(result))

Enter first number:- 26.56
Enter second number:- 21.4

Addition:- 47.959999999999994
Type of result:- <class 'float'>

num = 1234
print(len(num)) # this will give an error

XYZ = 1,2,3,4,5
print(len(XYZ))

name = 'Piyush'
print("Length of name:-", len(name))

marks = [40, 20, 50, 10, 30]
print("Number of marks:-", len(marks))

colors = ("red", "blue", "green")
print("Number of colors:-", len(colors))

In [100]:
del len

# OPERATORS IN PYTHON

Operators are special symbols or words that perform operations on variables and values

Types of operators:-

1) Arithematic operators:- It is used to perform basic mathematical operations like addition, subtraction, multiplication, etc.

Operator Name           Example      Description
'+' Addition            'a+b'        Adds two numbers
'-' Subtraction         'a-b'        Subtracts second from first
'*' Multiplication      'a*b'        Multiplies two numbers
'/' Division            'a/b'        Divides and returns float result
'//' Floor Division     'a//b'       Divides and removes decimals
  
2) Assignment operators:- Are used to assign values to variable or to update them using operations
Operator Name                        Example      Meaning
'=' Assigns value                    'x = 5'      Assigns 5 to 'x'
'+=' Add and assign                  'x += 2'     'x = x + 2'
'-=' Subtract and assign             'x -= 2'     'x = x - 2'
'*=' Multiply and assign             'x *= 2'     'x = x * 2'
'/=' Divide and assign               'x /= 2'     'x = x / 2'
'//=' Floor Divide and assign        'x //= 2'    'x = x // 2'



3) Comparison operators:- Used to compare two values. They always return True or False
Operator Name                 Example      
'==' Equal to                  'a==b'       == Used to compare two values and = used to assign values
'!' Not equal to               'a!=b'        
'>' Greater Than               'a>b'        
'<' Less Than                  'a<b'        
'>=' Greater than Equal to     'a>=b'
'<=' Less than Equal to        'a<=b'



4) Logical operators:- Used to combine multiple conditions. They return True or False based on logic
Operator Name         Meaning                                               Example
'and'                 True if **both** conditions are True                  'x > 5' and x < 10'
'or'                  True If **at least one** condition is True            'x < 5' or x > 20'
'not'                 Reverses the result (True -> False, False -> True)    'not(x > 5)'


5) Membership operators:-
Operator Name       Meaning      
'in'                True if value exists                 '"a" in "apple"'       
'not in'            True if value **does not** exist     '5 not in [1,2,3]        


6) Identity operators

In [5]:
# Example of arithematic Operator
a = 10    
b = 3
print('Addition:-', a+b)
print('Subtraction:-', a-b)
print('Multiplication:-', a*b)
print('Division:-', a/b)
print('Floor Division:-', a//b)

Addition:- 13
Subtraction:- 7
Multiplication:- 30
Division:- 3.3333333333333335
Floor Division:- 3

In [9]:
# Example of Assignment Operator
x = 10 
print('X value:', x)

x += 2
print('X after +2:', x)

x -= 2
print('X after -2:', x)

x *= 2
print('X after *2:', x)

x /= 2
print('X after /2:', x)

x //= 4
print('X after //2:', x)

X value: 10
X after +2: 12
X after -2: 10
X after *2: 20
X after /2: 10.0
X after //2: 2.0

In [12]:
#Example on Comparision operator
a = 10    
b = 5

# == (Equal to)
print('a == b:-', a==b)

# != (Not Equal to)
print('a != :-', a!=b)

# > (Greater than)
print('a > b :-', a>b)

# < (Less than)
print('a < b :-', a<b)

# >= (Greater than equal to)
print('a >= b :-', a>=b)

# <= (less than equal to)
print('a <= b :-', a<=b)

a == b:- False
a != :- True
a > b :- True
a < b :- False
a >= b :- True
a <= b :- False

In [15]:
# Example on Logical operator
a = 15
b = 8

print('a is greater than b:', a > b and b < a)
print('a is Smaller than b:', a < b or b > a)
print('a is not greater than b:', not(a < b))

a is greater than b: True
a is Smaller than b: False
a is not greater than b: True

In [19]:
Word = "Aesthetic"
print( "A" in Word)
print( "j" in Word)
print( "b" not in Word)

True
False
True

In [21]:
fruits = ["apple", "banana", "mango"]

print("banana" in fruits)
print("grapes" not in fruits)

True
True

In [22]:
# What is the data type of "123'
int = 123
print(type(int))

<class 'int'>

In [24]:
# perfrom arithmetic operators using a = 1000, b = 300
a = 1000   
b = 300
print('Addition:-', a+b)
print('Subtraction:-', a-b)
print('Multiplication:-', a*b)
print('Division:-', a/b)
print('Floor Division:-', a//b)

Addition:- 1300
Subtraction:- 700
Multiplication:- 300000
Division:- 3.3333333333333335
Floor Division:- 3

In [27]:
# add 3 to x = 5

x = 5
x += 3
print(x)

8

In [28]:
#Create a list of fruits and check its type

fruits = ["apple", "banana", "mango"]
print(type(fruits))

<class 'list'>

In [30]:
# Check if "cat'is in the list ["dog", "cat", "fish"]

animal = ["dog", "cat", "fish"]
print("cat" in animal)

True

In [33]:
# Calculate area of rectangle (length = 5, width = 4)

length = 5
width = 4
Area = length * width
print("Area of rectangle:-",Area)

Area of rectangle:- 20

In [37]:
# Check remainder when 17 divided by 5

a = 17
b = 5
print(a % b)     # % is used for getting remainder

2

In [38]:
# Is "apple" == "Apple"

a = "apple"
print("apple" == "Apple")

False

In [40]:
# Ask the user for their name and print: hello and name
Name = input("Enter Name")
print("Hello,", Name)

Enter Name Piyush

Hello, Piyush

In [45]:
# Ask for two numbers and print their sum, difference and product

a = float(input("Enter 1st Number:"))
b = float(input("Enter 2nd Number:"))

print("Sum of two numbers", a + b)
print("Difference of two numbers", a - b)
print("Product of two numbers", a * b)

Enter 1st Number: 12
Enter 2nd Number: 13

Sum of two numbers 25.0
Difference of two numbers -1.0
Product of two numbers 156.0

In [4]:
# Ask the user for their age and check if they are eligible to vote

age = int(input("Enter your age:"))

print("Eligble to vote:", age >= 18)

Enter your age: 18

Eligble to vote: True

In [9]:
# Ask for 3 subject marks. Calculate total, average, and check if passed (avg >= 35)

a = int(input("Enter your marks of Maths:"))
b = int(input("Enter your marks of Science:"))
c = int(input("Enter your marks of English:"))

total = a + b + c
avg = total / 3
print("Total:", total)
print("Avg:", avg)
print("Result:-", avg >= 35)

Enter your marks of Maths: 56
Enter your marks of Science: 67
Enter your marks of English: 75

Total: 198
Avg: 66.0
Result:- True

In [11]:
# Ask for a number and check if it's even or odd

num1 = int(input("Integer value:"))
num2 = num1 % 2       
print(num1, "Is even:", num2==0)

Integer value: 6

6 Is even: True

In [16]:
# take input of price and quantity, print total cost and check if above Rs.500
Price = float(input("Enter the Price:"))
Product = float(input("Enter the Quantity:"))
Total_price = Price * Product
print("Total Price:", Total_price)
print("Total cost above 500:", Total_price > 500)

Enter the Price: 50
Enter the Quantity: 100

Total Price: 5000.0
Total cost above 500: True

In [20]:
# Ask for a number and check if it lies between 50 and 100

num1 = int(input("Enter your Number:"))
print("Lies between 50 t0 100:", num1 > 50 and num1 < 100)

Enter your Number: 60

Lies between 50 t0 100: True

# Flow Control Statements in Python

Flow control statements decide which part of the code runs, and how many times.

Types:-
1) Conditional Statements
2) Loops
3) Loop Control Statements

# CONDITIONAL STATEMENT

-- Conditional statements are used to execute code based on conditions (True/False)

-- Conditional statements in python are used to test the specified condition or set of conditions

-- There are 4 types of conditional statement

1) **IF Statement**:- If will only execute if the given conditon is true
2) **IF - ELSE Statement**:- (If the given condition is true, if will execute, if the given condition is false Else will execute) (if this or that)
3) **Elif**:- **if-elif-elif-elif**:- (multiple if else) also known as elif ladder
4) **Nested Elif**:- Like subquery, elif inside an elif, logic same as elif but query different

If (condition):
    statement if true # Indentation/ Indent space ":"
    else:
  statement is false

In [1]:
Marks = 60
if Marks > 40:
    print("You are passed")

You are passed

In [23]:
Age = 25
if Age > 18:
    print("You can Vote")
else:
    print("You cannot Vote")

You can Vote

In [27]:
Age = int(input("Enter your age:-"))
if Age >= 18:
    print("You are Eligible to Vote")
else:
    print("You are not Eligible to Vote")

Enter your age:- 20

You are Eligible to Vote

In [ ]:
# if the score is in the range of 30 to 80 then give in range else out of range

In [4]:
Range = int(input("Enter your number:-"))
if Range >= 30 and Range <= 80:
    print("You are in range")
else:
    print("You are out of range")

Enter your number:- 40

You are in range

In [7]:
score = int(input("Enter your score"))
if score >= 80:
    print("You are in Tier 1")
elif score >= 60:
    print("You are in Tier 2")
elif score >= 45:
    print("You are in Tier 3")
else:
    print("No Placement")

Enter your score 85

You are in Tier 1

In [9]:
#Salary greter than 12 lakh "high income", greater than 7 lakh "mid income", salary greater than 4 lakh "Low income" else "very low income"

salary = int(input("Enter your salary"))
if salary > 1200000:
    print("High Income")
elif salary > 700000:
    print("Mid Income")
elif salary > 400000:
    print("Low Income")
else:
    print("Very Low Income")

Enter your salary 1400000

High Income

In [16]:
#Nested Elif

age = int(input("Enter your age:"))
gender = input("Enter your Gender (M/F):")

if age >= 18:
    if gender == "M":
        print("Eligible for Men's Category")
    elif gender == "F":
        print("Eligible for Female's Category")
    else:
        print("Invalid gender input")
else:
    print("Not eligible (Below 18)")

Enter your age: 19
Enter your Gender (M/F): M

Eligible for Men's Category

In [18]:
# Check if a number is positive or negative
num = int(input("Enter your number:"))
if num > 0:
    print("Positve Number")
elif num < 0:
    print("Negative Number")
else:
    print("0")

Enter your number: -2

Negative Number

In [19]:
num1 = int(input("Integer value:"))
if num1 % 2 == 0:
    print("Number is even")
else:
    print("Odd Number")

Integer value: 1

Odd Number

In [25]:
#Nested if: Check if number is positive and even. take user input, also give "not positive nor positive for other value"
num = int(input("Enter a number: "))
if num > 0:
    if num % 2 == 0:
        print("The number is positive and even.")
    else:
        print("The number is positive and odd.")
else:
    print("The number is not positive.")

Enter a number:  1

The number is positive and odd.

# LOOPS  (Iterations)
Loops are programming constructs which are used to implement same logic n number of times(multiple times).
There are Two types of loops:- 
1) **For Loop(Iterative Loop)**:- It iterates all the elements in the sequence or collection and implement the logic. It will terminate after all the elements in the sequence are completed. It is one of the widely used loop.(starts from first and end on the last)

 
2)**While Loop(Conditional Loop)**:- It will execute only till the condition is true. It will terminate once the condition turns out to be False.
Terminology used: In while loop initializer is used(From where to start)
Increment and Decrement plays an important role
Condition is necessary to give in while loop

Feature           "For" Loop                          "While" Loop

Use Case          Known number of iterations           Unknown or conditional iterations
Syntax Focus      Iterates over sequence or range      Runs while a condition is "True"
Control type      Count-Controlled                     Condition-Controlled
Example           "for i in range(5):"                 "while i < 5:"   # "i" is the iterator here

**Initializer** is used to give instruction to the system on where to start the iteration.
**Iterator** is used for executing a set of instruction multiple times

In [28]:
count = 0 #INITIALIZER

while (count <= 10):
    count += 1   #pre-increment
    print(count)

1
2
3
4
5
6
7
8
9
10
11

In [29]:
count = 0 #INITIALIZER

while (count <= 10):
    print(count)
    count = count + 1   #post- increment (infinite-loop)

0
1
2
3
4
5
6
7
8
9
10

In [33]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("Out of Loop")

1
2
3
4
5
Out of Loop

In [38]:
value = 50
while value > 10:
    print(value)
    value -= 5

50
45
40
35
30
25
20
15

In [39]:
num = 100
while num > 50:
    if num % 2 == 0:
        print(num, "is even")
    else:
        print(num, "is odd")
    num -= 1

100 is even
99 is odd
98 is even
97 is odd
96 is even
95 is odd
94 is even
93 is odd
92 is even
91 is odd
90 is even
89 is odd
88 is even
87 is odd
86 is even
85 is odd
84 is even
83 is odd
82 is even
81 is odd
80 is even
79 is odd
78 is even
77 is odd
76 is even
75 is odd
74 is even
73 is odd
72 is even
71 is odd
70 is even
69 is odd
68 is even
67 is odd
66 is even
65 is odd
64 is even
63 is odd
62 is even
61 is odd
60 is even
59 is odd
58 is even
57 is odd
56 is even
55 is odd
54 is even
53 is odd
52 is even
51 is odd

In [45]:
num = 1
while num < 51:
    if num % 2 == 0:
        print(num, "is even")
    else:
        print(num, "is odd")
    num += 1

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even
21 is odd
22 is even
23 is odd
24 is even
25 is odd
26 is even
27 is odd
28 is even
29 is odd
30 is even
31 is odd
32 is even
33 is odd
34 is even
35 is odd
36 is even
37 is odd
38 is even
39 is odd
40 is even
41 is odd
42 is even
43 is odd
44 is even
45 is odd
46 is even
47 is odd
48 is even
49 is odd
50 is even

In [49]:
num = 0

while num <= 100:
    if num % 10 == 0 and num % 5 == 0:
        print(num," - is divisible by 10")
    elif num % 5 == 0:
        print(num, " - is divisible by 5")
    num += 1

0  - is divisible by 10
5  - is divisible by 5
10  - is divisible by 10
15  - is divisible by 5
20  - is divisible by 10
25  - is divisible by 5
30  - is divisible by 10
35  - is divisible by 5
40  - is divisible by 10
45  - is divisible by 5
50  - is divisible by 10
55  - is divisible by 5
60  - is divisible by 10
65  - is divisible by 5
70  - is divisible by 10
75  - is divisible by 5
80  - is divisible by 10
85  - is divisible by 5
90  - is divisible by 10
95  - is divisible by 5
100  - is divisible by 10

In [ ]:
x = 5
x += 1            # Pre-increment: increase first
print("Pre-increment result:", x)

In [ ]:
x = 5
print("Post-increment result:", x)  # Use the value first 
x += 1                               # Then increment

In [2]:
number = list(range(10)) #(will take default from 0)
print(number)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
for x in number:
    print(x + 2)

2
3
4
5
6
7
8
9
10
11

In [7]:
names = ["Piyush Mishra", "Mehvish Shaikh", "Neer Sonar", "Prarthana Singh"]

for i in names:
    print("Hello",i,"!")

Hello Piyush Mishra !
Hello Mehvish Shaikh !
Hello Neer Sonar !
Hello Prarthana Singh !

In [11]:
for i in names:
    print("Hello!",i,end=" | ")

Hello! Piyush Mishra | Hello! Mehvish Shaikh | Hello! Neer Sonar | Hello! Prarthana Singh |

In [12]:
num_list = [10, 23, 45, 66, 78, 91, 102]

even_count = 0
odd_count = 0

for i in num_list:
    if i % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

print("Even number", even_count)
print("Odd number", odd_count)

Even number 4
Odd number 3

In [16]:
#print the table of 5 from 1 to 10 with for loop
for i in range(1, 11):
    print("5 x",i,"=",5 * i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [19]:
i = 1

while i <= 10:
    print("5 x",i,"=",5 * i)
    i += 1

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [21]:
i = 0

while i <= 9:
    i += 1
    print("5 x",i,"=",5 * i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# Loop Statements 
There are two types of loop statements:- 
Break: This statement is used to exit the loop early without completing the iteration mentioned in the range.
Continue: This statement skips the current loop iteration based on the condition given by the user and moves to the next one.

In [23]:
for i in range(1,10):
    if i == 5:
        break
    print("Number is", i)
print("Out of loop")

Number is 1
Number is 2
Number is 3
Number is 4
Out of loop

In [24]:
i = 1
while i < 10:
    if i == 5:
        break
    print("Number is", i)
    i += 1
print("Out of loop")

Number is 1
Number is 2
Number is 3
Number is 4
Out of loop

In [25]:
for i in range(1,6):
    if i == 3:
        continue
    print(i)

1
2
4
5

In [29]:
# For range 1 to 60 skip even numbers and print out of loop - using for loop
for i in range(1,60):
    if i % 2 == 0:
        continue
    print(i,"Is an Odd number")
print("Out of loop")

1 Is an Odd number
3 Is an Odd number
5 Is an Odd number
7 Is an Odd number
9 Is an Odd number
11 Is an Odd number
13 Is an Odd number
15 Is an Odd number
17 Is an Odd number
19 Is an Odd number
21 Is an Odd number
23 Is an Odd number
25 Is an Odd number
27 Is an Odd number
29 Is an Odd number
31 Is an Odd number
33 Is an Odd number
35 Is an Odd number
37 Is an Odd number
39 Is an Odd number
41 Is an Odd number
43 Is an Odd number
45 Is an Odd number
47 Is an Odd number
49 Is an Odd number
51 Is an Odd number
53 Is an Odd number
55 Is an Odd number
57 Is an Odd number
59 Is an Odd number
Out of loop

In [34]:
# Find the total sum of first 10 natural numbers using any loop
sum = 0
for i in range(1,11):
    print(i)
    sum += i
print("Sum of first 10 natural number is", sum)

1
2
3
4
5
6
7
8
9
10
Sum of first 10 natural number is 55

In [41]:
# Take user input and count vowels
text = input("Enter a String:")

count = 0
for i in text:
    if i in "aeiouAEIOU":
        count += 1
print("Number of Vowels:", count)

Enter a String: Education

Number of Vowels: 5

#Homework: 1)Find the factorial of a number using user input

num = int(input("Enter a number: "))
factorial = 1

if num < 0:
    print("Factorial does not exist for negative numbers.")
elif num == 0:
    print("The factorial of 0 is 1.")
else:
    for i in range(1, num + 1):
        factorial *= i
    print(f"The factorial of {num} is {factorial}")

# 2) Calculate the sum of numbers starting from 1 and ending at user input

end = int(input("Enter the ending number: "))
total = 0

for i in range(1, end + 1):
    total += i

print(f"The sum of numbers from 1 to {end} is {total}")

# Funtions in Python
A Function in Python is an organised and reusable code which can be executed for a set of action.
There are Two type of function:
1) **Pre-defined function:-** It is also known as built-in function. It can be parameterized and parameterless.
Logic for particular or task are already in-built in the system, You don't have to specify the logic function there.

2) **User defined function:-** In user defined function, Logic is defined by the user. These functions can be customized.
We use the **Def keyword** for user defined functions
There are 3 types of user defined function:-
1) **Parameterized:-** It will be executed only when any argument or value is provided. eg:- To mention what we want to find, like length
2) **Parameterless:-** It can execute without any value or argument to make the function run. eg:- print function
3) **Lambda:-** It is also known as anonymous or nameless function. The function will not be defined by any **def keyword**.
                The function also doesn't have any specific name associated with it.
                Lambda functions are short functions and also can be called as Temporary function.
                Lambda function also consists of Map and Filter

**Terminologies to keep in Mind** 
1) **return:-** It will throw the output and go to the statement again
2) **Function call:-** To execute a function that is created



**Parameters**                                      |                **Arguments**
- They are used while defining or                   |                - They are used or given while executing or      
creating a function.                                |                  running the function.
- Parameters will always be variables.(a,b)         |                - Arguments can be variableless value or
- Parameters are also known as format               |                  any Data. (7,8)
/formal parameters.                                 |                - Arguments are also known as actual parameter                   
                                                    |                  or actual argument.


**Syntax for used defined function**
def function_name(parameters):
    #statement
    #statement   # Logic or defination
    return value  # to throw the output

def is used to define the function

In [2]:
li = list(range(1,21,2))   #(start,end,skip)
print(li)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [8]:
#Creating a parameterized function
def addition (a, b):           # a and b are parameters
    result = a + b
    print("The sum is:", result)

In [9]:
addition (12, 10) # 12 and 10 are arguments

The sum is: 22

In [11]:
num1 = 22
num2 = 45
addition (22, 45)  #Use of def function

The sum is: 67

In [12]:
value = addition(num1, num2)

The sum is: 67

In [25]:
new = value * 2
print(new)

134

In [22]:
def add(x,y):
    c = x+y
    return c  # used to return so it can store the value

In [26]:
add(num1, num2)  # following the same process with return

67

In [24]:
value = add(num1, num2)
print(value)

67

#print()
Used to display the result/output on the screen.
Does not return any value to be used later in the code

#return()
Sends the result back to where the function was called.
You can store or reuse the returned value.

In [27]:
def perimeter(a, b, c=10):  # value of c is set to 10 as a default (default argument)
    perimeter = a + b + c
    return perimeter

In [32]:
perimeter(6, 8)   # Here we didn't gave the value of c because it is already set to 10 as a default

24

In [31]:
result = perimeter(6, 8)
print("Perimeter of Triangle:-", result)

Perimeter of Triangle:- 24

In [34]:
a = 12
b = 19
c = 26
perimeter(a, b, c)

57

In [36]:
perimeter(a=5, c=6, b=9)   #keyword argument

20

In [37]:
?perimeter

Signature: perimeter(a, b, c=10)
Docstring: <no docstring>
File:      c:\users\dell\appdata\local\temp\ipykernel_9256\986937036.py
Type:      function

# Keyword Argument
- It is passed explicitly specifying the parameter name during the function call
- The order of arguments does not matter when using keyword arguments
- It improves readability and clarity

# A Default Argument
- Is defined with a default value in the function definitioln
- If no valu is provided for that parameter during the call, default value is used.
- Helps in writing functions with optional parameters

In [39]:
# User defined function using if else

def check_age():
    age = int(input("Enter your age"))
    if age >= 18:
        print("You are Eligible to vote.")
    else:
        print("You are not Eligible to vote.")

check_age()    # Calling the function

Enter your age 24

You are Eligible to vote.

In [40]:
check_age()

Enter your age 17

You are not Eligible to vote.

In [45]:
#Parameter less function
def greet():
    print("Hello, Welcome!")
greet()

Hello, Welcome!

In [48]:
# Global
name = "Piyush"

def greet():
    print("Hello!",name)

greet()
print("Outside Function", name)  #name is defined outside the function

#Accessible inside and outside the function

Hello! Piyush
Outside Function Piyush

In [49]:
#Local 
def greet():
    name = "Piyush"  #local variable
    print("Hello!", name)

greet()
print(name)   # Error: name is not defined outside 
#name is defined inside the function

# Only accessible within function

# using name outside gives a NameError

Hello! Piyush
Piyush

# Global Variable
Declared outside any function

Can be accessed everywhere in the code

# Local Variable
Declared inside a function

Can be used only within that function.

In [52]:
x = lambda x: x * 2  # x is the number of input allowed
x(4)

8

In [51]:
square = lambda x: x * x
print(square(4))

16

In [54]:
add = lambda a,b,c: a + b + c
add(3,4,5)

12

In [61]:
#create a user defined to check if a number is even
def is_even(number):
    if number % 2 == 0:
        return True
    else:
        return False

print(is_even(2))
print(is_even(3))

True
False

In [63]:
# Lambda to check if a number is odd
is_odd = lambda x: x % 2 != 0
print(is_odd(3))
print(is_odd(4))

True
False

# DATA STRUCTURES
- Data structure is the building block of any programming language.
- There are two types pf Data Structure:-
1) **Primitive:-** Numbers:- int, float, complex
                   String:- "", '', ''' '''
                   Boolean:- True or False
   
2) **Non-Primitive:-** List - [ ]
                       Tuple - ( )
                       set - { }
                       dictionary - {key:value} key = Primary Key(Unique)


**Primitive:-** 1) **Numbers:-(int, float, complex):-** Here we can use any numeric value or part of value:-
1) Integer:- It can be fixed value and finite value which doesn't consider decimals (-infinity - +infinity).
2) Float:- is not a fixed value it can consider decimal. Range from negative of any number to positive of any number
3) Complex:- It is a combination of real + imaginary number

**String:-("", '', ''' '''):-** Any data such as character, text or number enclosed in quotes is called as String.
**Properties of String:-**
1) It can hold any value and consider it as string if it is enclosed in any quotes.
2) They are immutable(Not Changeable)
3) String support Indexing and Slicing


Boolean:- True or False

**Non-Primitive:-** **List:-** List are collection of elements which holds any sort of data into square brackets[ ].
**Properties of List:-** 1) List can store Mixed data type.
                         2) List can store repeated or duplicate value.
                         3) List preserve the order of the input.
                         4) List are mutable in nature(Changeable).
                         5) List supports Indexing and Slicing.
                         6) List supports Item Assignment. (To change value)
                         7) List are slower in comparison to Tuple.
                         8) List are one of the most widely used data structure.

**Sets:-** Set are collection of Distinct element which are unordered in nature{ }.
**Properties of Sets:-** 1) Set allows mixed data type.
                         2) Set donot allow repeated values.
                         3) Set donot preserve the order of the data/ it is unordered.
                         4) Sets are Mutable in nature.
                         5) Set donot support Indexing or Slicing.
                         6) Set donot allow Item Assignment.
                         7) Set allow us to perform set operations such as Union, Intersection, Difference

**Tuple:-** The collection of elements of mixed data type which are comma seperated ","  and enclosed in circular bracket( ) are known as Tuples.
**Properties of Tuple:-** 1) Tuple Allow mixed data type,
                          2) Tuple allows repeated value
                          3) Tuple preserve order of data
                          4) Tuples are Immutable in nature.
                          5) Tuple allow Indexing and Slicing.
                          6) Tuple Donot allow Item Assignment.
                          7) Tuple are faster as compared to List.
                          8) Tuple are the Least used Data structure.

**Dictionary:-** It is a combination of key and value pair enclosed in {key:value}. The Key will be unique and Value can be repeated.
**Properties of Dictionary:-** 1) Dictionary will always store data in Key and Value pair.
                               2) Key must be unique but values can be repeated.
                               3) Dictionary support key Indexing.
                               4) Dicitionary are Mutable in Nature.
                               5) Dictionary stores data in more meaningful format.

In [3]:
# Number Data Type

print(int(-13.8))
print(float(5))

a = -354609989897.8097867698678
print(type(a))

print(int(-22222.8))

b = int(a)
print(b)

c = 3 + 4j
print(type(c))

-13
5.0
<class 'float'>
-22222
-354609989897
<class 'complex'>

In [ ]:
# Math library:- The Math library in python provides mathematical functions
# "?" Is used to check the properties

In [4]:
import math

In [8]:
?math

Type:        module
String form: <module 'math' (built-in)>
Docstring:
This module provides access to the mathematical functions
defined by the C standard.

In [22]:
# Square root
print(math.sqrt(25))

# Floor Division (Largest integer <= Number)
print(math.floor(21.56))

# Power Numbers(exponents) like 4 raied to 3
print(math.pow(4,3))

# Factorial of a number
print(math.factorial(5))   # 120 --> 5 == 5x4x3x2x1

#Round Off
print(round(345.67))

# Pi value
print(math.pi)

5.0
21
64.0
120
346
3.141592653589793

In [29]:
import random as rn

# Random float between 0 and 1
print(rn.random())  # eg. 0.5347 (only between 0-1)

#Random integer between 1 to 10
print(rn.randint(1, 10))   # eg. 4 (if we want in a certain range)

#Random float between 1.5 and 2.5
print(rn.uniform(1.5, 2.5))   # eg.2.056  (for float value in a range)

#Random element from a list
colors = ["red", "Green", "Blue"]
print(rn.choice(colors))   # eg. "Green"

#Shuffle a list randomly
numbers = [10, 20, 30, 40]
rn.shuffle(numbers)
print(numbers)    # eg. [20, 10, 40, 30]

#Pick multiple random elements
print(rn.sample(colors, 2))  # eg. ['Blue', 'Red']

0.3164110002052902
8
1.9033276423804848
Green
[10, 20, 30, 40]
['Blue', 'Green']

In [45]:
# Finding square root of 25
print("Square root of 6:", math.sqrt(6))

# Floor of 21.56 (largest integer  21.56)
print("Floor of 21.56:", math.floor(21.56))

# 3 raised to the power of 6 (3^6 = 64)
print("3 raised to 6:", math.pow(3, 6))

# Factorial of 8
print("Factorial of 8:", math.factorial(8))

# Round off 456.67 to nearest integer
print("Rounded value of 456.67:", round(456.67))

# Print the value of  (Pi)
print("Value of Pi:", math.pi)

Square root of 6: 2.449489742783178
Floor of 21.56: 21
3 raised to 6: 729.0
Factorial of 8: 40320
Rounded value of 456.67: 457
Value of Pi: 3.141592653589793

In [43]:
import random as rn

# Random float between 0 and 1
print("Random float (0 to 1):", rn.random()) 

# Random integer between 50 and 100
print("Random integer (50 to 100):", rn.randint(50, 100)) 

# Random float between 5.5 and 10.5
print("Random float (5.5 to 10.5):", rn.uniform(5.5, 10.5)) 

# Random element from a custom list
fruits = ["apple", "banana", "cherry", "kiwi"]
print("Random fruit:", rn.choice(fruits)) 

# Shuffle a list randomly
cities = ["Paris", "London", "Tokyo", "New York"]
rn.shuffle(cities)
print("Shuffled cities:", cities) 

# Pick multiple random elements (no repeats)
animals = ["cat", "dog", "rabbit", "lion", "tiger"]
picked_animals = rn.sample(animals, 3)
print("Randomly picked animals:", picked_animals)

Random float (0 to 1): 0.7360170503777197
Random integer (50 to 100): 80
Random float (5.5 to 10.5): 8.527858166835584
Random fruit: kiwi
Shuffled cities: ['London', 'Tokyo', 'Paris', 'New York']
Randomly picked animals: ['tiger', 'rabbit', 'dog']

In [67]:
import math

# Square Root - Length of side if area is 25 sq units (square shape)
area = 25
side = math.sqrt(area)
print("Side length of a square with area is",side)

# Floor - You bought 21.56 kg of rice but can only carry whole bags
weight = 21.56
bags = math.floor(weight)
print("You can carry", bags,"full kg bags of rice.")

# Power - 1 bacteria multiplies 4 times every hour, how many after 3 hours?
growth = math.pow(4, 3)
print("Bacteria count after 3 hours:", growth)

# Factorial - Ways to arrange 5 books on a shelf
books = 5
ways = math.factorial(books)
print("Ways to arrange", books, "books:", ways)

# Round - Approximate your travel distance
exact_distance = 345.67
rounded_distance = round(exact_distance)
print("Approximate travel distance:", rounded_distance,"km")

# Pi - Calculating circumference of a circle with radius 7
radius = 7
circumference = 2 * math.pi * radius
print(f"Circumference of a circle with radius {radius}: {circumference:.2f}")

Side length of a square with area is 5.0
You can carry 21 full kg bags of rice.
Bacteria count after 3 hours: 64.0
Ways to arrange 5 books: 120
Approximate travel distance: 346 km
Circumference of a circle with radius 7: 43.98

In [50]:
# Create a list of name and call random name
import random

names = ["Piyush", "Abhishek", "Neer", "Ganesh", "Mehvish", "Prarthana"]

random_name = random.choice(names)

print("Randomly selected name:", random_name)

Randomly selected name: Neer

In [51]:
# Round the value of pi to 2 decimal places.
import math

pi_rounded = round(math.pi, 2)

print("Pi rounded to 2 decimal places:", pi_rounded)

Pi rounded to 2 decimal places: 3.14

In [68]:
# Use Single quotes to wrap the string
print('"Hello World"')  # you use same ""'' will get error

"Hello World"

In [69]:
# Use escape character \"
print("\"Hello World\"")

"Hello World"

In [71]:
# String length (Starts the counting from 1)
text = "Python"
print(len(text))

6

In [72]:
# String Method
s = "learn python"
print(s.upper())
print(s.capitalize())
print(s.replace("python","SQL"))

LEARN PYTHON
Learn python
learn SQL

In [74]:
s = "my name is piyush"
print(s.upper())
print(s.capitalize())
print(s.replace("piyush","Mehvish"))

MY NAME IS PIYUSH
My name is piyush
my name is Mehvish

In [78]:
# Concat (adding 2 string)
first = "Piyush"
second = "Mishra"
#full = first + second
full = first + " " + second
print(full)
# concat can only concat str not int

Piyush Mishra

In [83]:
a = "PIYUSH"
b = "mishra"
print("Comparing the String length a >= b:", len(a) >= len(b))
print("Comparing the String length a <= b:", len(a) <= len(b))
print("Comparing the String length a == b:", len(a) == len(b))
print("Comparing the String length a != b:", len(a) != len(b))

Comparing the String length a >= b: True
Comparing the String length a <= b: True
Comparing the String length a == b: True
Comparing the String length a != b: False

In [92]:
# String Replication
text = "Hi "
print(text * 3)

Hi Hi Hi

In [87]:
star = "* "
print(star * 5)

* * * * *

In [89]:
line = "Data\n"  # \n will use to get the values in different line
print(line * 2)

Data
Data

In [91]:
star = "*\n"
print(star * 5)

*
*
*
*
*

In [ ]:
# String Formatting

In [99]:
# "f.string"
name = "Piyush"
phm = 9834807799
print(f"My name is {name} and my phone number is {phm}, thanks")

My name is Piyush and my phone number is 9834807799, thanks

In [98]:
# ".format"
name = "Piyush"
phm = 9834807799
print("My name is {} and my phone number is {}, thanks".format(name, phm))

My name is Piyush and my phone number is 9834807799, thanks

In [101]:
# Example of .format
a = 10
b = 5

print("Addition of {} + {} = {}".format (a, b, a + b))
print("Subtraction of {} + {} = {}".format (a, b, a - b))
print("Multiplication of {} + {} = {}".format (a, b, a * b))
print("Division of {} + {} = {}".format (a, b, a / b))
print("Modulus of {} + {} = {}".format (a, b, a % b))

Addition of 10 + 5 = 15
Subtraction of 10 + 5 = 5
Multiplication of 10 + 5 = 50
Division of 10 + 5 = 2.0
Modulus of 10 + 5 = 0

In [102]:
# float points using .2f
a = 10
b = 5

print("Addition of {} + {} = {:.2f}".format (a, b, a + b))
print("Subtraction of {} + {} = {:.3f}".format (a, b, a - b))
print("Multiplication of {} + {} = {:.4f}".format (a, b, a * b))
print("Division of {} + {} = {:.2f}".format (a, b, a / b))
print("Modulus of {} + {} = {:.3f}".format (a, b, a % b))

# : Tells python you're going to apply a formatting rule to the value
# .3 means 3 digits after the decimal part
# f stands for fixed point number (i.e. a float)

Addition of 10 + 5 = 15.00
Subtraction of 10 + 5 = 5.000
Multiplication of 10 + 5 = 50.0000
Division of 10 + 5 = 2.00
Modulus of 10 + 5 = 0.000

In [104]:
Language = "Python"
print(" 0 Index:", Language[0])
print(" 1 Index:", Language[1])
print(" 2 Index:", Language[2])
print(" 3 Index:", Language[3])
print(" 4 Index:", Language[4])
print(" 5 Index:", Language[5])

 0 Index: P
 1 Index: y
 2 Index: t
 3 Index: h
 4 Index: o
 5 Index: n

In [107]:
Language = "Python"
print(" -6 Index:", Language[-1])
print(" -5 Index:", Language[-2])
print(" -4 Index:", Language[-3])
print(" -3 Index:", Language[-4])
print(" -2 Index:", Language[-5])
print(" -1 Index:", Language[-6])

 -6 Index: n
 -5 Index: o
 -4 Index: h
 -3 Index: t
 -2 Index: y
 -1 Index: P

# Indexing and Slicing
**Indexing:-** 1) We use indexing to assign an index value to the string
2) We use square brackets[ ] to get the index value and it has an Start and End value [Start = Inclusive, End = Exclusive].
Start value is Inclusive which means whatever index number you give as the start value that index will be fetched out in the output.
End value is Exclusive in slicing it will stop the indexing just before the end value.
3) In Indexing , the index value always starts with 0 if it is a negative indexing it should always start with -1.

**Slicing:-** 1) If you want to fetch out only any given index number we can use Slicing.
2) When using negative slicing if you mention a smaller value at the start point and comparitively bigger value at the end point, it will throw an error.
3) In slicing if you don't mention any start value the system by default takes the first index value is the default value.
4) If you don't assign any end value the system by default takes the last index number as the end value.

In [3]:
s = "DataScience"
print(s[0:4])
print(s[4:])
print(s[:11])

Data
Science
DataScience

In [9]:
print(s[-1])
print(s[-3:])
print(s[:-4])
print(s[::-1])    # (This will reverse the string)
print(s[::2])   # (every 2nd char is skipped or stepped from start to end) [start:end:step]

e
nce
DataSci
ecneicSataD
DtSine

In [18]:
# Fetch 3 and 7 from the list lst = [1,3,5,7,9,11]
lst = [1,3,5,7,9,11]
print(lst[1:4:2])

[3, 7]

In [19]:
# Access the second last element using slicing lst = [100,200,300,400,500]
lst = [100,200,300,400,500]
print(lst[3])

400

In [20]:
# Get alternate values from a string "DataScience"
str = "DataScience"
print(s[::2])

DtSine

In [22]:
# Use slicing to remove first and last element data = [10,20,30,40,50]
data = [10, 20, 30, 40, 50]

sliced_data = data[1:-1]

print(sliced_data)

[20, 30, 40]

In [24]:
List1 = [] # empty list will run without an error
print(type(List1))

<class 'list'>

In [25]:
L1 = [2,4,8,9,3,12,18,10,7,15]
print(L1)

[2, 4, 8, 9, 3, 12, 18, 10, 7, 15]

In [26]:
mixed_list = [101, "Piyush", 3.14, True]
print(type(mixed_list))

<class 'list'>

In [28]:
mixed_list = [101, "Piyush", 3.14, (34,35, 36), True, "47852956245",[66,77]]
# Here each value after, will be considered 1 index

print(mixed_list[1])
print(mixed_list[2:6])
print(mixed_list[3][2])     # Nested Indexing

Piyush
[3.14, (34, 35, 36), True, '47852956245']
36

In [31]:
list1 = [10,20,30,40, 'Continue']
list2 = [50,60,70,80, 'End']
Combined_List = list1 + list2
print("Combined List:", Combined_List)

Combined List: [10, 20, 30, 40, 'Continue', 50, 60, 70, 80, 'End']

In [32]:
fruits = ["apple", "Kiwi", "Mango", "Pineapple"]
fruits[2] = "Guava"
print(fruits)

['apple', 'Kiwi', 'Guava', 'Pineapple']

In [45]:
num = [10,20,30,40,50]
num[1:3] = [21, 31]
print(num)

[10, 21, 31, 40, 50]

In [ ]:
# Delete elements
# del can be used to delete an element from the list
# also used to delete all items

In [62]:
L1 = [2,4,8,9,3,12,18,10,7,15]
L2 = [20,22,33,44,55,66,77,88,99]
del(L1[2], L2[-1])
print(L1, L2)

[2, 4, 9, 3, 12, 18, 10, 7, 15] [20, 22, 33, 44, 55, 66, 77, 88]

In [64]:
#a = "Piyush"
#del a[-1]   # strings are immutable - will get error

In [66]:
# Lists are Mutable
L3 = ["Pppp", "Rrrr", "Sssss", "Qqqqq", "Uuuuu"]
del L3[-1]  # Lists are changeable
print(L3)

['Pppp', 'Rrrr', 'Sssss', 'Qqqqq']

# List Method 
# Append
- Syntax
List_name.append(element)

1) The .append() method is used to **add a single element to the end of a list.**
2) Adds one item only - **always to the end of the list.**
3) **Can add any data type: Number, String, List, Tuple, etc.**
4) Modifies the original list in place (no return value)
5) Takes one argument only

# Extend
1) The extend() method is used to **add multiple elements to the end of a list.**
 Syntax
List1.extend(iterable)

2) Adds each element of the iterable (like list, tuple, string) to the list. 
3) Modifies the original list
4) Accepts any iterable (list, tuple, string, set, etc)
5) **Differs from append()**, which **adds the entire object as one element.**

In [67]:
fruits = ["apple", "Kiwi", "Pineapple"]
fruits.append ("Mango")
print(fruits)

['apple', 'Kiwi', 'Pineapple', 'Mango']

In [70]:
Number = [2,4,8,9,3,12]
Number.append (13)
print(Number)

[2, 4, 8, 9, 3, 12, 13]

Count:- This method count how mant times a specific value appears in a list or string
# Properties of Count
1) Works with list, tuple, and string
2) Returns an integer (Number of occurrences)
3) Is case-sensitive (in strings)
4) Does not modify the original sequence
5) Only takes one argument (the value to count)

In [72]:
numbers = [1,2,3,2,4,5,2,6]
print(numbers.count(2))

3

In [73]:
text = " This is my first day of using count"
print(text.count("i"))

4

In [74]:
text = ["data", "science", "with", "python"]
count = 0
for word in text:
    count += word.count ("i")
print(count)

2

In [ ]:
# The max() function returns the largest item in an iterable (Like list, Tuple, String)
# or the largest of two or more arguments

# max syntax -
max(iterable)
max(val1, val2, val3, ...)

# Properties of maximum value
1) Returns the maximum value
2) Can be used with numbers, strings, lists, tuples
3) Works on iterables or multiple arguments
4) Case-sensitive when comparing strings ("Z" > "a")

In [78]:
words = ["apple", "banana", "cherry"]
print(max(words))

cherry

In [85]:
# Append
a = [1, 2, 3]
b = [4, 5]
a.append(b)
print(a)

[1, 2, 3, [4, 5]]

In [86]:
# Extend
a = [1, 2, 3]
b = [4, 5]
a.extend(b)
print(a)

[1, 2, 3, 4, 5]

In [87]:
letters = ['a', 'b']
letters.extend("cd")
print(letters)

['a', 'b', 'c', 'd']

In [88]:
letters = ['a', 'b']
letters.append("cd")
print(letters)

['a', 'b', 'cd']

Method         Behaviour
"append()"     Adds the **entire object** as a **single element**
"extend()"     Adds **each elements individually** to the list

In [1]:
#a = [1, 2, 3]
#a.extend(4)  #: 'int' object is not iterable

a = [1, 2, 3]
a.extend([4])   # works fine
print(a)

# You cannot use .extend() directly with integer
# because .extend() expects an iterable (like a list, tuple, string, etc), not a single value

[1, 2, 3, 4]

In [2]:
# String and Integer

lst = []
lst.append("Analysis")
lst.append(100)
print("append:", lst)
#adds entire item, any type

# extend doesn't work with int directly (not iterable)
lst2 = ['start']
# lst2.extend(100) Error: int is not iterable

a = [1, 2, 3]
b = 5
a.extend([b])
print(a)

lst2.extend("ML")   # string is iterable
print("extend:", lst2)

append: ['Analysis', 100]
[1, 2, 3, 5]
extend: ['start', 'M', 'L']

In [10]:
lst = [1,2,3]
tup = (4,5,6)

lst_append = [1,2,3]
lst_append.append(tup)
print("append:", lst_append)

lst_append = [1,2,3]
lst_append.extend(tup)
print("extend:", lst_append)

append: [1, 2, 3, (4, 5, 6)]
extend: [1, 2, 3, 4, 5, 6]

In [12]:
# List and Set
st = {10, 20}

lst_a = ["a", "b"]
lst_a.append(st)
print("append:", lst_a)

lst_a = ["a", "b"]
lst_a.extend(st)
print("extend:", lst_a)

append: ['a', 'b', {10, 20}]
extend: ['a', 'b', 10, 20]

# Index
The index() function returns the first occurrence index of a specified element in a list
 SYNTAX:- list_name.index(element)

In [13]:
fruits = ["apple", "banana", "Kiwi", "banana"]
print(fruits.index("banana"))

1

In [14]:
fruits = ["apple", "banana", "kiwi", "pine", "banana"]
print(fruits.index("banana", 2))

4

# INSERT
The insert() method **inserts an element at a specific index in a list**
Syntax - list_name.insert(index,value)
It doesnot replace, it inserts

In [16]:
fruits = ["apple", "banana", "Kiwi", "banana"]
fruits.insert(1, "mango")
print(fruits)

['apple', 'mango', 'banana', 'Kiwi', 'banana']

In [21]:
number = [1, 2, 3, 5, 6, 7]
number.insert(3, 4)    # 3 is the index where i want to add and 4 is the value which i want to add
print(number)

[1, 2, 3, 4, 5, 6, 7]

# POP()
The pop() method removes and return an item from a list
Syntax - list_name.pop(index)  # index is optional #If we do not mention the index it will still remove the last value
**Opposite of extend - Removes value from end**

In [25]:
# pop without indexing
fruits = ["apple", "banana", "cherry"]
removed = fruits.pop()
print(removed)
print(fruits)

cherry
['apple', 'banana']

In [26]:
# pop with indexing
fruits = ["apple", "banana", "cherry"]
removed = fruits.pop(1)
print(removed)
print(fruits)

banana
['apple', 'cherry']

In [27]:
# pop with -ve indexing
fruits = ["apple", "banana", "cherry"]
removed = fruits.pop(-3)
print(removed)
print(fruits)

apple
['banana', 'cherry']

# SORT()
The sort() method is used to sort a list in place(modifies the original list). **It works only on lists.**
Syntax - list_name.sort **(reverse=True) For DESC**
Syntax - syntax - **list_name.sort() Default is ascending**

In [28]:
number = [1, 2, 5, 3, 4, 7, 6]
number.sort()
print(number)

[1, 2, 3, 4, 5, 6, 7]

In [30]:
number = [1, 2, 5, 3, 4, 7, 6]
number.sort(reverse=True)
print(number)

[7, 6, 5, 4, 3, 2, 1]

In [31]:
st = ['a', 'c', 'f', 'b', 'e', 'd']
st.sort()
print(st)

['a', 'b', 'c', 'd', 'e', 'f']

In [32]:
st = ['a', 'c', 'f', 'b', 'e', 'd']
st.sort(reverse=True)
print(st)

['f', 'e', 'd', 'c', 'b', 'a']

In [ ]:
# reverse() - to reverse a list
#list_name.reverse()
# Syntax - list_name.reverse()

In [33]:
name = ["Piyush", "Mehvish", "Neer", "Prarthana"]
name.reverse()
print(name)

['Prarthana', 'Neer', 'Mehvish', 'Piyush']

In [34]:
name.reverse()
print(name)

['Piyush', 'Mehvish', 'Neer', 'Prarthana']

In [35]:
empty_tuple = ()
print(type(empty_tuple))

<class 'tuple'>

In [40]:
# Creating tuple ith 1 element
t = (5)
print(t)
print(type(t))  # but output type is int

5
<class 'int'>

In [39]:
t = (5,)
print(t)
print(type(t))   #need to add "," at the end to make it a tuple

(5,)
<class 'tuple'>

In [ ]:
# 1st property - tuple support mixed data type
# prefered is that should not add list in tuple as its mutable / we can but prefered not to

In [43]:
mixed_tuple = (10, "Piyush", 3.14, True, [1,2,3])
print(mixed_tuple)   # output in same sequence

(10, 'Piyush', 3.14, True, [1, 2, 3])

In [44]:
# 2nd - property allows repeated data
repeated_tuple = ("apple", "banana", "apple", "apple", 12, 12)
print(repeated_tuple)

('apple', 'banana', 'apple', 'apple', 12, 12)

In [46]:
tup = (10, 20, 30, "hello", True)
print(len(tup))

5

In [52]:
print(len(tup[-2]))  # len donot work on integer, float and boolean

5

In [53]:
tup = ("apple", "banana", "cherry")
print(tup[0])

apple

In [54]:
tup = ("apple", "banana", "cherry")
print(tup[0:2])

('apple', 'banana')

In [55]:
tup = ("apple", "banana", "cherry")
print(tup[-1])

cherry

In [75]:
# Q Fetch the output of the tuple (10,20,30,40,50)
# in format : using indexing, negative indexing and slicing
data = (10, 20, 30, 40, 50)

print(data[0])
print(data[3])

print(data[-1])
print(data[-3])

print(data[1:4])
print(data[:3])
print(data[::2])

10
40
50
30
(20, 30, 40)
(10, 20, 30)
(10, 30, 50)

In [74]:
# Q Use nested indexing from the list data = (100, 200, (300,400,500), (600, (700,800)))
data = (100, 200, (300,400,500), (600, (700,800)))

print(data[2])       
print(data[2][1])  
print(data[3])  
print(data[3][1])      
print(data[3][1][0])

(300, 400, 500)
400
(600, (700, 800))
(700, 800)
700

In [103]:
fruits = ("apple", "banana", "kiwi", "pine", "banana", "mango", "orange")
print(fruits[1:3])

print(fruits[0:4])

print(fruits[1][0:4])

print(fruits[5][-1])

print(fruits[0][4:1:-1])

('banana', 'kiwi')
('apple', 'banana', 'kiwi', 'pine')
bana
o
elp

In [104]:
data = (10, 20, 30, 40, 50)
reversed_tuple = data[::-1]  # Slicing with step -1 gives the reversed tuple.
print(reversed_tuple)

(50, 40, 30, 20, 10)

In [106]:
student_A = ("Piyush", "Neer", "Abhishek")
student_B = ("Sakshi", "Prarthana", "Mehvish")

combined = student_A + student_B
print("Combined Students:", combined)

Combined Students: ('Piyush', 'Neer', 'Abhishek', 'Sakshi', 'Prarthana', 'Mehvish')

In [107]:
t1 = (10, 20, 30)
t2 = (40, 50, 60)

combined = t1 + t2
print(combined)

(10, 20, 30, 40, 50, 60)

In [108]:
#Tuple replicating
t = (1, 2, 3)
replicated = t * 3
print("Replicated Tuple:", replicated)

Replicated Tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [122]:
# Tuple replicating in a loop
for i in range (1,4):
    print(("X","Y") * i)
for i in range (1,11):
    print("*" * i)

('X', 'Y')
('X', 'Y', 'X', 'Y')
('X', 'Y', 'X', 'Y', 'X', 'Y')
*
**
***
****
*****
******
*******
********
*********
**********

In [126]:
pyramid = ""
rows = 10

for i in range(1, rows + 1):
    spaces = " " * (rows - i)
    stars = "*" * (2 * i - 1)
    pyramid += spaces + stars + "\n"

print(pyramid)

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [121]:
# Replicating a tuple with mixed data type
t = (101, "Python", True)
print(t * 2)

(101, 'Python', True, 101, 'Python', True)

In [120]:
# Replcate a single-element tuple
t = ("hello",)
print(t * 4)

('hello', 'hello', 'hello', 'hello')

In [ ]:
# Updating Tuple
# Tuples are immutable, meaning you cannot directly their elements

In [127]:
# Delete in Tuple
# Tuples are immutable, so:
# You cannot delete specific elements from a tuple directly
t = (1,2,3)
del t
# Now 't' no longer exists

# Tuples are faster than lists because of their immutability

Reasons:
Fixed Size:
Tuples are immutable, so python can allocate a fixed amount of memory and optimize access.

Less Overhead:
Lists have extra methods to support modifications (like append, extend, etc). Tuples don't need this, so they're lighter.

Use tuples when your data shouldn't change and performance matters
Use lists when your data needs to be modified.

# Set properties

A set is an unordered collection of Distinct, elements.
SYNTAX:- my_set = {1, 2, 3}

In [1]:
# We can't create empty set like list because { } takes dictionary by default
empty_set = { }
print(empty_set)
print(type(empty_set))

{}
<class 'dict'>

In [4]:
# To create empty set
empty_set1 = set()
print(empty_set1)
print(type(empty_set1))

set()
<class 'set'>

In [8]:
# Adding one element
empty_set = {4}
print(empty_set)
print(type(empty_set))

{4}
<class 'set'>

In [15]:
# Adding multiple integers
empty_set = {2, -10, -10, 4, 6, -8, -10, -12, 4, 4}  # Sets are unordered that's why in output we are getting values not in order
print(empty_set)
print(type(empty_set))

# In output repeated values will show only one

{2, 4, -12, 6, -10, -8}
<class 'set'>

In [14]:
# Adding Mixed Data types
empty_set = {6, 7, "Hello", 14.2, (22,33,44)}
print(empty_set)
print(type(empty_set))

# Set donot supports indexing

{'Hello', 6, 7, (22, 33, 44), 14.2}
<class 'set'>

In [23]:
# Sets are mutable -> you can add
set2 = {1, 2, 3}
set2.add(4)       # Adding element # Can add only 1 value at a time and adds in last
set2.remove(2)    # Removing element
print(set2)

{1, 3, 4}

In [25]:
# The update() method adds multiple elements from another iterable (like list, tuple, or set) into the set.
a = {1, 2, 3}
a.update([4,5])  # Square brackets[4,5] are used because update() expects an iterable - like a list, tuple, or set.
print(a)

{1, 2, 3, 4, 5}

In [35]:
s = {"apple", "mango"}
s.update(["orange", "guava", "kiwi"])  # To add multiple values we can use update and for adding multiple string we use list[ ].
print(s)

{'mango', 'orange', 'kiwi', 'apple', 'guava'}

In [30]:
s = {"apple", "mango"}
s.add("orange")
print(s)

{'mango', 'apple', 'orange'}

In [43]:
# The remove() method deletes a specific element from a set
fruits = {"apple", "mango", "kiwi"}
fruits.remove("mango")  # If you run it agin after removing - it will give error
print(fruits)

{'kiwi', 'apple'}

In [44]:
# remove() raises error if element not found.
# discard() does nothing if element not found. # no error if runs multiple times

# Discard an element that exists

# Discard an element that doesn't exist (No error)

fruits = {"apple", "mango", "kiwi"}
fruits.discard("orange")
print(fruits)

{'kiwi', 'apple', 'mango'}

In [45]:
# Set operations
# Creating list

A = [90, 80, 70, 60, 5, 4, 3, 2, 1]
B = [55, 3, 76, 6, 22, 1, 99, 5]

# coverting list into set
setA = set(A)
print(setA)

setB = set(B)
print(setB)

{1, 2, 3, 4, 5, 70, 80, 90, 60}
{1, 3, 99, 5, 6, 76, 22, 55}

In [49]:
# Union - Combines all the unique elements from the set
A = [90, 80, 70, 60, 5, 4, 3, 2, 1]
B = [55, 3, 76, 6, 22, 1, 99, 5]

print(setA.union(setB))  # 2 ways to write, works as or value either in A or B
print(setA | setB)

{1, 2, 3, 4, 5, 70, 99, 6, 76, 80, 22, 55, 90, 60}
{1, 2, 3, 4, 5, 70, 99, 6, 76, 80, 22, 55, 90, 60}

In [5]:
# Using Intersection:- Shows only the similar value from both the Sets

A = [90, 80, 70, 60, 5, 4, 3, 2, 1]
B = [55, 3, 70, 6, 22, 1, 90, 5]

setA = set(A)
setB = set(B)

print(setA.intersection(setB))  # 2 Ways to write
print(setA & setB)

{1, 3, 5, 70, 90}
{1, 3, 5, 70, 90}

In [11]:
# Difference:- All the elements of 1 set & matching from the rest
# Elements present in one set but not in another
A = [90, 80, 70, 60, 5, 4, 3, 2, 1]
B = [55, 3, 70, 6, 22, 1, 90, 5]

setA = set(A)
setB = set(B)

print(setB.difference(setA))  # So only the unique items of setB are returned.use(-)
print(setA-setB) # value in A which are not present in B

{55, 6, 22}
{80, 2, 4, 60}

# Dictionaries
Collection of elements which are stored in key & value pairs.i.e. {"key":"value"}

In [12]:
my_d = {1:"A", 2:"B"}
print(my_d)
print(type(my_d))

{1: 'A', 2: 'B'}
<class 'dict'>

In [15]:
d1 = {"name":"Piyush", "roll no.":5, "city":"Pune"}
print(d1)

{'name': 'Piyush', 'roll no.': 5, 'city': 'Pune'}

In [29]:
students = {"name":["Piyush", "Neer", "Ganesh"], 
            "Age":[24, 23, 20], 
            "Age":[22, 21, 19]}
print(students)    # Key names can't be repeated hence it will consider the values from the 2nd key

{'name': ['Piyush', 'Neer', 'Ganesh'], 'Age': [22, 21, 19]}

In [30]:
# Dictionary supports key indexing
students["name"][2]
# Mention both key and the index number
# Only dictionary and index number will give error # print(students[3]) - ERROR

'Ganesh'

In [31]:
print(students["name"][1])
print(students["Age"][-1])
print(students["Age"][1])

Neer
19
21

In [36]:
print(students["name"][1:3])
print(students["name"][0][:4])

['Neer', 'Ganesh']
Piyu

In [40]:
students ["city"] = ["Bhusawal", "Bhusawal", "Bhusawal"]
students  # if i use print here so it will show output in one line and if i just mention dict name and run it will show line by line.

{'name': ['Piyush', 'Neer', 'Ganesh'],
 'Age': [22, 21, 19],
 'city': ['Bhusawal', 'Bhusawal', 'Bhusawal']}

In [46]:
del students ["name"][-1]
students

{'name': ['Piyush'], 'Age': [22, 21, 19]}

In [49]:
students["name"].append("Ganesh")
students

{'name': ['Piyush', 'ganesh', 'neer', 'Tushar', 'Ganesh'], 'Age': [22, 21, 19]}

In [54]:
students["name"].extend(["Neer", "Tushar"])
students["Age"].extend([22, 23])
students

{'name': ['Piyush', 'Ganesh', 'Neer', 'Tushar', 'Neer', 'Tushar'],
 'Age': [22, 21, 19, 22, 23]}

In [55]:
del students ["name"][3:5]
students

{'name': ['Piyush', 'Ganesh', 'Neer', 'Tushar'], 'Age': [22, 21, 19, 22, 23]}

In [56]:
del students ["Age"][-1]
students

{'name': ['Piyush', 'Ganesh', 'Neer', 'Tushar'], 'Age': [22, 21, 19, 22]}

In [58]:
students["name"].insert(1, "Mehvish")
students

{'name': ['Piyush', 'Mehvish', 'Mehvish', 'Ganesh', 'Neer', 'Tushar'],
 'Age': [22, 21, 19, 22]}

In [59]:
product = {
    "id": 101,
    "name": "laptop",
    "price": 55000,
    "brand": "Dell"
}
print("Original Dictionary:", product)

Original Dictionary: {'id': 101, 'name': 'laptop', 'price': 55000, 'brand': 'Dell'}

In [ ]:
# The clear() method removes

In [60]:
product.clear()

print("After clear():", product)

After clear(): {}

# Copy
.copy() creates a separate dictionary object with the same Key value pairs. 
Changes to the copy won't affect the original
As undo is not allowed and you dont like the changes

In [61]:
# copy
book = {
    "title": "The Alchemist",
    "author": "Paulo Coelho",
    "year": 1998
}

# Copying the book dictionary
book_copy = book.copy()

# Modify the copy
book_copy["year"] = 2023

print("Original Dictionary:", book)
print("Copied Dictionary:", book_copy)

Original Dictionary: {'title': 'The Alchemist', 'author': 'Paulo Coelho', 'year': 1998}
Copied Dictionary: {'title': 'The Alchemist', 'author': 'Paulo Coelho', 'year': 2023}

# .items() returns both keys and their corresponding values as pairs, useful in loops

In [1]:
book ={
    "title": "The Alchemist",
    "author": "Paulo Coelho",
    "year": 1998
}
print(book.items())   # item

dict_items([('title', 'The Alchemist'), ('author', 'Paulo Coelho'), ('year', 1998)])

In [2]:
# .keys gives output of all the keys

print(book.keys())

dict_keys(['title', 'author', 'year'])

In [3]:
# .values gives output of all the values
print(book.values())

dict_values(['The Alchemist', 'Paulo Coelho', 1998])

In [6]:
students = {"name":["Piyush", "Neer", "Ganesh"], 
            "Age":[24, 23, 20], 
            "Age":[22, 21, 19]}
students

{'name': ['Piyush', 'Neer', 'Ganesh'], 'Age': [22, 21, 19]}

In [7]:
import pandas as pd

df = pd.DataFrame(students)
df

     name  Age
0  Piyush   22
1    Neer   21
2  Ganesh   19

In [8]:
print(df)

     name  Age
0  Piyush   22
1    Neer   21
2  Ganesh   19

In [10]:
# For adding a new value int the data
df["City"] = "Pune"
df

     name  Age  City
0  Piyush   22  Pune
1    Neer   21  Pune
2  Ganesh   19  Pune

In [12]:
# Q Use random to generate a random name and a number between 1 -6 for a game of ludo
import random

players = ["Piyush", "Mehvish", "Neer", "Prarthana"]

selected_player = random.choice(players)

dice_roll = random.randint(1, 6)

print(f"{selected_player} rolled the dice and got: {dice_roll}")

Piyush rolled the dice and got: 1

In [13]:
# Q find the area of circle - pi * r-square 8 solve using math 
import math

r = 8

area = math.pi * math.pow(r, 2)

print(f"Area of circle with radius {r} is: {area:.2f}")

Area of circle with radius 8 is: 201.06

In [22]:
# Q Create a sentence from user input using f-string

name = input("Enter your name")
city = input("Enter your city")
print(f"Hello, my name is {name} and i am from {city}")

Enter your name Piyush
Enter your city Pune

Hello, my name is Piyush and i am from Pune

In [21]:
# Q From a Nested list extract "abc" or "xyz" using indexing

data = [10,[20,30],[40,[50, 'abc','xyz']]]

result = data[2][1][2]
print(result)

xyz

In [24]:
# Q Create a tuple of names and reverse using slicing
names = ("Piyush", "Mehvish", "Prarthana", "Neer")

reversed_name = names[::-1]
print(reversed_name)

('Neer', 'Prarthana', 'Mehvish', 'Piyush')

In [26]:
# Q Use dicitonary to store 3 students marks and print average

student_marks = {
    "Piyush": 85,
    "Abhishek": 75,
    "Tanjeel": 65,
}

total = sum(student_marks.values())
average = total / len(student_marks)

print(f" Average marks of students: {average}")

 Average marks of students: 75.0

In [ ]:
# Q Create a new dicitonary and convert dicitionary to DataFrame and add new column

In [34]:
students = {"Name":["Piyush", "Neer", "Ganesh", "Abhishek", "Tushar"], 
            "Age":[24, 24, 20, 23, 24]}
students

{'Name': ['Piyush', 'Neer', 'Ganesh', 'Abhishek', 'Tushar'],
 'Age': [24, 24, 20, 23, 24]}

In [35]:
import pandas as pd

df = pd.DataFrame(students)
df["City"] = "Pune"
df

       Name  Age  City
0    Piyush   24  Pune
1      Neer   24  Pune
2    Ganesh   20  Pune
3  Abhishek   23  Pune
4    Tushar   24  Pune